.cont-class {
    border-radius: 36px !important;
    overflow: hidden;
    box-shadow: 0 1px 20px 0 gray, 0 1px 20px 0 #008696;
    background-color: #008696;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 36px;
}

.cont-div {
    background-color: #008696;
    color: #e2cd9f;
    height: 100%;
}

.brdr {
    border-radius: 36px;
}

.cont-title {
    margin-top: 16px;
    display: flex;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.mg-top {
    margin-top: 36px;
}