.text-part-one {
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 32px;
}

.text-part-two {
    color: black;
    font-weight: 400;
    font-size: 32px;
}

.left {
    display: flex;
    flex: 1;
    float: left;
    width: 50%;
}

.left>img {
    height: inherit;
    width: 100%;
}

.right {
    display: flex;
    flex: 1;
    background-color: #008696;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.group {
    display: flex;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.title {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 655px) {
    .left {
        display: contents;
        float: none;
        width: auto;
    }
}

@media screen and (min-width: 1250px) {
    .right {
        display: flex;
        width: auto;
    }
}

/***/
@media (max-width: 991px) {
    .tm-intro-text-container {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        max-width: 600px;
        margin-left: auto;
        margin-right: 20px;
    }

    .tm-intro-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .tm-btn-submit {
        margin-left: 0;
        margin-top: 20px;
    }
}


.tm-section-title {
    font-size: 2.6rem;
    font-weight: normal;
    color: #e2cd9f;
}

.tm-intro-text {
    font-size: 1.2rem;
    line-height: 1.4;
    color: #e2cd9f;
}

@media (min-width: 768px) {
    .tm-intro-text-container {
        padding-left: 65px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 30px;
        padding-left: 30px;
    }
}

.tm-btn-primary {
    color: white;
    background-color: #4398c7;
    padding: 14px 35px;
    border-radius: 30px;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
    color: white;
    background-color: #73c1f6;
}