.navbar-nav {
    font-weight: bolder;
}

.navbar-nav>a>a {
    color: #e2cd9f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav>a>a:hover {
    color: #e2cd9f;
    font-size: 24px;
}

.navbar {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.navbar-toggler {
    color: #e2cd9f !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    border-bottom-right-radius: 36px;
}

.linkStyleDonate {
    color: #e2cd9f;
    text-decoration: none;
    display: flex;
    border: 1px solid #e2cd9f;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.linkStyleDonate:hover {
    color: white;
    border: none;
    font-size: 24px;
    background-color: #e2cd9f;
}

.navbar-light .navbar-nav .nav-link {
    color: #e2cd9f;
}

.nav-link {
    display: grid !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #008696 !important;
}

.navbar-settings {
    height: auto;
    background-color: #008696;
    margin-bottom: 25px;
}

.navvLink {
    color: black;
    text-decoration: none;
}

.navIcon {
    width: 36px;
    height: 36px;
}

.private-link {
    color: #e2cd9f !important;
}

.private-link:hover {
    color: #008696 !important;
}