.cont-sub {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 134, 150);
    box-shadow: 0 1px 20px 0 gray, 0 1px 20px 0 #008696;
    text-align: center;
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 25px;
    padding-top: 15px;
}

.sub-button {
    height: auto;
    background: rgb(246, 235, 228);
    align-items: center;
    border: 3px solid #e2cd9f;
    color: #e2cd9f;
    box-shadow: none;
}

.sub-input {
    border-radius: 1px;
    border: 3px solid #e2cd9f;
}

.sub-input>input {
    color: #008696 !important;
}

.sub-title {
    padding-inline: 12px;
    position: relative;
    color: #e2cd9f;
    margin-bottom: 10px !important;
}

/* Rule Out CSS */

.ant-input-group>input {
    color: rgb(0, 134, 150) !important;
}

.ant-input-group>button {
    background-color: #e2cd9f;
    color: rgb(0, 134, 150) !important;
}

.ant-input-group>button:hover {
    color: #e2cd9f !important;
    border: 3px solid #e2cd9f;
    background-color: rgb(0, 134, 150) !important;
}