.text-part-one {
    color: white;
    font-weight: 400;
    font-size: 35px;
}

.text-part-two {
    color: black;
    font-weight: 400;
    font-size: 35px;
}

.left {
    display: flex;
    flex: 1;
    float: left;
    width: 50%;
}

.left>img {
    height: inherit;
    width: 100%;
}

.right {
    display: flex;
    flex: 1;
    background-color: rgb(255, 187, 2);
    width: 50%;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.group {
    display: flex;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.title {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 655px) {
    .left {
        display: contents;
        float: none;
        width: auto;
    }
}

@media screen and (min-width: 1250px) {
    .right {
        display: flex;
        width: auto;
    }
}