.contentStyle {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.contentStyle>img {
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .contentStyle {
        height: 600px;
    }
}

.cont {
    border-radius: 36px !important;
    overflow: hidden;
    background-color: #136833;
    box-shadow: 0 1px 20px 0 gray, 0 1px 20px 0 #136833;
    margin-bottom: 50px;
}

.slick-slider .cont .slick-initialized {
    margin: 0 !important;
}

.slider-content-main {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 18px;
}

.row-title {
    color: #136833;
    font-size: 36px;
    display: flex;
    justify-content: flex-start;
    margin-left: 12px;
    margin-top: 36px;
    font-family: helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
    font-weight: 700;
    letter-spacing: "-0.02em";
}

.row-content-main {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 550;
    background-color: #136833;
    padding: 8px;
    color: white;
}