.contentStyle {
    display: flex;
    width: 100%;
    overflow: hidden;
    color: black;
    background: black;
}

.contentStyle>img {
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .contentStyle {
        height: 600px;
    }
}

.cont {
    border-radius: 36px;
    overflow: hidden;
    margin-bottom: 26px;
}